/* Base CSS */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root {
    --button-color: #1ebfc1;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.line-clamp.line-3 {
    --line-clamp: 3;
}
.break-all {
    word-break: break-all;
}
.content {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}
.row {
    display: flex;
}
.btn {
    display: inline-block;
    line-height: 68px;
    text-align: center;
    min-width: 186px;
    border-radius: 14px;
    background: var(--button-color);
    color: #fff;
    font-family: "Poppins";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}
.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
/* Header */
.header {
    padding-top: 52px;
    background-color: #fff;
}
.header.fixed {
    position: sticky;
    top: -32px;
    z-index: 1;
}
.header .content {
    display: flex;
    align-items: center;
}
.header .logo {
    width: 127px;
    height: 37px;
    cursor: pointer;
}
.header .nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header .nav ul {
    display: flex;
    gap: 9px;
}
.header .nav ul a {
    color: #2f3a3b;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 15px;
}
.nav li.active a,
.nav li a:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 currentColor;
}
.header .action {
    margin-left: 177px;
}
.header .action button {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    background: none;
    cursor: pointer;
    padding: 15px;
}
.header .action .up-btn {
    margin-left: 9px;
    min-width: 108px;
    line-height: 48px;
    color: #1ebfc1;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    background: #fff;
}
.header .action .up-btn:hover {
    background: var(--button-color);
    color: #fff;
}
/* Hero */
.hero {
    padding-top: 50px;
    background: #fff;
    padding-bottom: 79px;
}
.hero .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero .hero-content {
    width: calc(458 / 1170 * 100%);
}
.hero-content .hero-special {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}
.hero-content .hero-title {
    margin-top: 18px;
    width: 458px;
    color: #0d1111;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 116.129% */
}
.hero-content .hero-desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
.hero-content .hero-cta {
    margin-top: 52px;
    display: flex;
    align-items: center;
}
.hero-content .hero-cta .watch-video {
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
}
.hero-content .hero-cta .icon {
    margin-top: 47px;
}

/* Hero image */
.hero-image {
    width: calc(576 / 1170 * 100%);
    background: #e0f7f6;
    margin-left: auto;
    position: relative;
}
.hero-image .hero-img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}
.hero-image .course {
    display: flex;
    align-items: center;
    position: absolute;
    top: 19px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}
.hero-image .course .book {
    position: relative;
    width: 36px;
    height: 40px;
    margin: 17px 0 18px 25px;
}
.hero-image .course .book-icon2 {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.hero-image .course-desc {
    margin-left: 16px;
    width: 55px;
}
.hero-image .desc {
    color: #0d1111;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.hero-image .course .course-desc {
    width: 55px;
}
.hero-image .schedule {
    position: absolute;
    bottom: 46px;
    left: -65px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}
.hero-image .schedule .schedule-desc {
    padding-top: 16px;
    margin-left: 36px;
}
.hero-image .schedule .schedule-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-image .schedule-icon .icon-1,
.hero-image .schedule-icon .icon-2,
.hero-image .schedule-icon .icon-3 {
    width: 74px;
    height: 6px;
}
.hero-image .schedule-icon .icon-1 {
    margin-top: 16px;
}
.hero-image .schedule-icon .icon-2 {
    margin-top: 12px;
}
.hero-image .schedule-icon .icon-3 {
    margin-top: 10px;
}
.hero-image .schedule-icon .icon-4 {
    margin-top: 16px;
    width: 26px;
    height: 6px;
}
.hero-image .act-students {
    position: absolute;
    right: 45px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}
.hero-image .act-students .act-desc {
    margin-top: 17px;
    margin-left: 35px;
}
.hero-image .act-students .avt {
    margin-left: 35px;
    margin-top: 8px;
}
.hero-image .act-students img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}
.act-students .avt {
    display: flex;
    align-items: center;
}
.act-students .avt .student-avt:not(:first-child) {
    margin-left: -7px;
}
.act-students .student-1 {
    background-color: #1ebfc1;
}
.act-students .student-2 {
    background-color: #ffc147;
}
.act-students .student-3 {
    background-color: #ff947a;
}
.act-students .student-4 {
    background-color: #bf83ff;
}
.act-students .avt .more {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #1ebfc1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: -7px;
}
/* Feature */
.feature {
    margin-top: 130px;
}
.feature .feature-content {
    width: 1024px;
    margin-left: calc((100vw - 1170px) / 2);
}
.feature-container .feature-title {
    color: #767e7e;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.feature-container .feature-sub {
    margin-top: 18px;
    width: 577px;
    color: #0d1111;
    font-family: Poppins;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 133.333% */
}
.feature-container .feature-desc {
    margin-top: 18px;
    width: 590px;
    color: #767e7e;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.feature-list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.feature-item .feature-name {
    margin-top: 26px;
    color: #0d1111;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
}
.feature-item .feature-text {
    margin-top: 16px;
    color: #9da6a5;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
}
.feature-item .feature-text:first-child {
    width: 168px;
}
.feature-item .feature-text:nth-child(2) {
    width: 223px;
}
.feature-item .feature-text:last-child {
    width: 224px;
}
/* Course */
.course {
    margin-top: 130px;
}
.course .content {
    width: 1171px;
}
.course .course-title {
    color: #767e7e;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 700;
}
.course .course-sub {
    margin-top: 18px;
    color: #0d1111;
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 700;
}
.course .row {
    justify-content: space-between;
    align-items: center;
}
.course .course-description {
    width: 525px;
    margin-top: 19px;
    color: #767e7e;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
.course .course-button {
    color: #1ebfc1;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    border: none;
    background: #fff;
    cursor: pointer;
}
.course-list {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}
.course-list .course-card {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    position: relative;
}
.course-card .course-img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    opacity: 0.35;
    background: #d0efed;
    border-radius: 8px;
}
.course-card .course-img:hover {
    opacity: 1;
}
.course-card .course-info {
    position: absolute;
    bottom: -124px;
    left: 50%;
    transform: translateX(-50%);
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}
.course-info .course-box {
    margin-top: 18px;
    margin-left: 25px;
}
.course-info .course-name,
.course-info .course-fee strong {
    color: #0d1111;
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.course-info .course-fee {
    display: block;
    margin-top: 16px;
    color: #767e7e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.course-info .course-desc {
    width: 275px;
    margin-top: 6px;
    color: #9da6a5;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.course-info .course-meta {
    margin-top: 18px;
    display: flex;
    gap: 10px;
}
.course-meta .classes,
.course-meta .time {
    display: flex;
    align-items: center;
    gap: 10px;
}
.course-meta .text {
    color: #9da6a5;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Count down */
.count .count-container {
    margin-top: 389px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 862px;
    gap: 200px;
}
.count-container .count-item {
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.count-item .count-value {
    color: #0d1111;
    text-align: center;
    font-family: Poppins;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.count-item .count-label {
    color: #767e7e;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Testimonial */
.testimonial {
    margin-top: 264px;
}
.testimonial .content {
    display: flex;
    align-items: center;
}
.testimonial .test-container {
    width: 419px;
}
.test-container .icon {
    margin-top: 37px;
}
.test-container .test-desc {
    margin-top: 27px;
    width: 419px;
    color: #5d6564;
    font-family: Poppins;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 150% */
}
.test-container .author {
    display: block;
    margin-top: 33px;
    color: #767e7e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.test-container .author strong {
    color: #070707;
    font-family: Poppins;
    font-weight: 500;
}
.test-container .test-control {
    display: flex;
    gap: 30px;
}
.test-container .test-control .control-btn {
    margin-top: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid #2ac9bf;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #2ac9bf;
}
.test-container .test-control .control-btn:hover {
    background: #2ac9bf;
    color: #fff;
    cursor: pointer;
}
.test-avt {
    margin-left: 345px;
    width: 235px;
    height: 235px;
    border-radius: 50%;
    position: relative;
    border: transparent;
}
.test-avt .move-avt {
    clip-path: circle(50% at 50% 50%);
}
.test-avt .main-avt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff8282;
}
.test-avt .avt-1 {
    position: absolute;
    top: -107px;
    left: -129px;
    background-color: #1ebfc1;
}
.test-avt .avt-2 {
    position: absolute;
    top: -88px;
    right: -171px;
    background-color: #bf83ff;
}
.test-avt .avt-3 {
    position: absolute;
    right: -139px;
    bottom: -110px;
    background-color: #b1dfdc;
}
.test-avt .avt-4 {
    position: absolute;
    left: -61px;
    bottom: -139px;
    background-color: #ff947a;
}
.test-avt .avt-5 {
    position: absolute;
    left: -273px;
    bottom: 6px;
    background-color: #ffc147;
}
/* CTA */
.cta {
    margin-top: 130px;
    background: #def6f5;
}
.cta-content {
    margin-left: calc((100vw - 1170px) / 2);
    display: flex;
    align-items: center;
    gap: 410px;
}
.cta-content .cta-container {
    margin-top: 76px;
    margin-bottom: 88px;
}
.cta-container .cta-title {
    width: 420px;
    color: #070707;
    font-family: Poppins;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cta-container .cta-desc {
    width: 397px;
    margin-top: 18px;
    color: #767e7e;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cta-container .cta-btn {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* Footer */
footer {
    margin-top: 131px;
    background: #fff;
}
.main-footer {
    display: flex;
}
.main-footer .footer-col {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.main-footer .footer-col ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.main-footer .heading-col {
    color: #2e2e2e;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
}
.main-footer .company-col {
    margin-left: 144px;
}
.main-footer .community-col {
    margin-left: 144px;
}
.main-footer .teaching-col {
    margin-left: 148px;
    min-width: 157px;
}
.main-footer .social-col {
    margin-left: 146px;
}
.main-footer li a {
    color: #535353;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
}
.main-footer li a:hover {
    text-decoration: underline;
    text-shadow: 1px 0 currentColor;
}
.main-footer .social-col li {
    display: flex;
    gap: 9px;
    align-items: center;
}
.main-footer .social-icon {
    margin-top: 4px;
}
.end-footer {
    margin-top: 91px;
    margin-bottom: 50px;
    text-align: center;
}
.end-ft {
    color: #b0b5b4;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
}
